* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    width: 100vw;
    background: darkcyan;
    padding: 1.5vh 1vw;
}

.white {
    background: white;
    border-radius: 10px;
}

h5 {
    background: blue;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 1em;
    border-radius: 10px 10px 0 0;
}

/*
****************
***** MAIN *****
****************
 */

main {
    height: 97vh;
    width: 98vw;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-gap: 2vh;
    grid-template-rows: 10vh;
    grid-template-areas: 'header header'
                         'section aside';
}

header {
    grid-area: header;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

section {
    grid-area: section;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-gap: 3vh;
    grid-column-gap: 1vw;
    grid-template-areas: 'img bars'
                         'img price'
                         'img total'
                         'code cpf'
                         'footer footer';
}

aside {
    grid-area: aside;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-gap: 2vh;
    grid-template-rows: 55vh;
    grid-template-areas: 'products products'
                         'subtotal subtotal'
                         'recebido troco';
}


/*
*******************
***** SECTION *****
*******************
 */

#img {
    grid-area: img;
}

#code {
    grid-area: code;
}

#bars {
    grid-area: bars;
}

#price {
    grid-area: price;
}

#total {
    grid-area: total;
}

#cpf {
    grid-area: cpf;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1vw;
}


/*
*****************
***** ASIDE *****
*****************
 */

#products {
    grid-area: products;
}

#subtotal {
    grid-area: subtotal;
}

#recebido {
    grid-area: recebido;
}

#troco {
    grid-area: troco;
}


/*
******************
***** FOOTER *****
******************
 */

footer > div {
    background: white;
}
